<!DOCTYPE html>
<html >
<head>
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="styles/styles.css" /> 
<script src="js/main.js"  type="text/javascript"></script> 


 <!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->



<title>CudaLandingPage</title>
</head>

<body>
	<div id="siteWrapper">
		
	<header>
	<div class="cont">
		<div id="menuIcon">
			
		</div>
		<a href="#" class="logo">Cuda</a>
			
		<nav id="mainNavy">
				
			<a href="#">home</a><a href="#" class="ourTeam">team</a><a href="#" class="skills">skills</a><a href="#" class="peopleSay" >about</a><a href="#" class="contact">contact</a>
			<span class='close'>x</span>
		</nav> 
			
		<h1>Hi there! We are the new kids on the block and we build awesome websites and mobile apps.</h1>
		<div class="button"><p>Work with us!</p></div>
	</div>
</header>

<section id="ourServices">
			<h2>Services we provide</h2>
			<p>We are working with both individuals and businesses from all over the globe to create awesome websites and applications.</p>
			 <div class="container">
				<article class="service branding">
					<h3>Branding</h3>
					<p>Lorem ipsum dolor sit amet, 	consectetuer adipiscing elit, sed diam nonummy nibh.</p>
				</article>
				
				<article class="service design">
					<h3>Design</h3>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem omnis iste natus.</p>
				</article>
				
				<article class="service development">
					<h3>Development</h3>
					<p>At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p>
				</article>
				
				<article class="service rocketScince">
					<h3>Rocket scince</h3>
					<p>Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</p>
				</article>
				
			</div >
		</section>	
		
		<section id="ourTeam">
			<h2>MEET OUR BEAUTIFUL TEAM</h2>
			<p>We are a small team of designers and developers, who help brands with big ideas.</p>
			<div class="container">
				<article class="memberTeam">
					<img src="../img/member1.png" alt="foto" />
					<h3>Anne hataway</h3>
					<p>CEO / Marketing Guru</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
					<div class="social">	
						<a href="#" class="facebook"></a>
						<a href="#" class="twitter"></a>
						<a href="#" class="linkedin"></a>
						<a href="#" class="mail"></a>
					</div>
				</article>
				
				<article class="memberTeam">
					<img src="../img/member1.png" alt="foto" />
					<h3>Kate Upton</h3>
					<p>Creative Director</p>
					<p>Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non occaecat diam proident. </p>
					<div class="social">	
						<a href="#" class="twitter"></a>
						<a href="#" class="linkedin"></a>
						<a href="#" class="mail"></a>
					</div>
				</article>
				
				<article class="memberTeam">
					<img src="../img/member1.png" alt="foto" />
					<h3>Lead Designer</h3>
					<p>Creative Director</p>
					<p>Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.</p>
					<div class="social">	
						<a href="#" class="twitter"></a>
						<a href="#" class="mail"></a>
					</div>
				</article>
				
				<article class="memberTeam last">
					<img src="../img/member1.png" alt="foto" />
					<h3>Ashley Greene</h3>
					<p>SEO / Developer</p>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					<div class="social">	
						<a href="#" class="twitter"></a>
						<a href="#" class="linkedin"></a>
						<a href="#" class="mail"></a>
					</div>
				</article>
				
			</div>
		</section >
		
		<section id="skills">
			<h2>We got skills!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			
			
			<div class="container">
				
				<article class="skill">
					<span class="web">90%</span>
					<p>Web Design</p>
				</article>
				
				<article class="skill">
					<span class="html">75%</span>
					<p>HTML / CSS</p>
				</article>
				
				<article class="skill">
					<span class="graphic">70%</span>
					<p>GRAPHIC DESIGN</p>
				</article>
				
				<article class="skill">
					<span class="ui">85%</span>
					<p>UI / UX</p>
				</article>
				
			</div >
		</section>
		
		<section id="portfolio">
			<h2>Our Portfolio</h2>
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam</p>
			
			<div class="container">
				
				<div class="row">
					<a href="../img/proj1_big.jpg" title="example number 1 from attribute title"><img src="../img/proj1.jpg" alt="example" /></a><a href="../img/proj2_big.jpg" title="example number 2 from attribute title by link 2 example number 2 from attribute title by link 2 "><img src="../img/proj2.jpg" alt="example" /></a><a href="../img/proj3_big.jpg" title="example number 3 from attribute title by link 3"><img src="../img/proj3.jpg" alt="example" /></a>
				</div >
				<div class="row">
					<a href="../img/proj4_big.jpg" title="text from attribute title $this link" ><img src="../img/proj4.jpg" alt="example" /></a><a href="../img/proj5_big.jpg" title="text from attribute title $this link"><img src="../img/proj5.png" alt="example" /></a><a href="../img/proj6_big.jpg" title="text from attribute title $this link"><img src="../img/proj6.jpg" alt="example" /></a>
				</div >
				
			</div >
		</section>
		
		<section id="peopleSay">
			<h2>What people say about us</h2>
			<p>Our clients love us!</p>
			<div class="container">
				<article class="say">
					<img src="../img/member1.png" alt="foto" />
					<div>
						<p>"Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque."</p>
						<h3>Chanel Iman</h3>
						<span>CEO of Pinterest</span>
					</div>
				</article>
				
				<article class="say">
					<img src="../img/member1.png" alt="foto" />
					<div>
						<p>"Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta."</p>
						<h3>ADRIANA LIMA</h3>
						<span>Founder of Instagram</span>
					</div>
				</article>
				
				<article class="say">
					<img src="../img/member1.png" alt="foto" />
					<div>
						<p>"Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta."</p>
						<h3>ANNE HATHAWA</h3>
						<span>Lead Designer at Behance</span>
					</div>
				</article>
				
				<article class="say">
					<img src="../img/member1.png" alt="foto" />
					<div>
						<p>"Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus, risus sem cursus neque."</p>
						<h3>EMMA STONE</h3>
						<span>Co-Founder of Shazam</span>
					</div>
				</article>
				
			</div >
		</section> 
		
		<section id="contact">
			<h2>Get in touch</h2>
			<p>1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111</p>
			<form class="sendMessage" method="GET" >
				<input id="enterName" type="text" name="name" size="40" placeholder="Your name" value=""/>
				<input id="enterMail" type="text" name="mail" size="40" placeholder="Your mail"/>
				<textarea name="message" rows="14" cols="105" placeholder="Your message"></textarea>
				<input id="sendButton" type="submit" value="Send message " />
			</form>
		</section>
		
		<footer>
			<p><a href="#">Facebook</a><a href="#">Twitter</a><a href="#">Google+</a><a href="#">linkedIn</a><a href="#">Behance</a><a href="#">Dribbble</a><a href="#">GitHub</a></p>
		</footer> 
		
				
	</div>
	
	
	
</body>

</html>

